@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

body{
	font: 300 17px/1.59 Raleway, sans-serif;
	color: #262626;
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

/* Typography */
h1, h2, h3, h4{
	margin: 0;
}
h1{
	font-size: 60px;
	font-weight: 800;
}
h2{
	font-size: 90px;
	font-weight: 700;
}
h3 {
	font-size: 40px;
	font-weight: 700;
}
h4{
	color:  #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.25;
}
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	background: #96b92c;
	border: 1px solid transparent;
	padding: 12px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-button--submit{
	display: block;
	background: #355b82;
	padding: 12px 20px;
	margin: 0 auto;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background: #ffe92f;
	color: #96b92c;
}
.ba-button--submit:hover{
	background: #71abce;
	color: #fff;
}
.ba-contact__form--input:hover{
	background: #00c4c4;
	border-left: 5px solid #355b82;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
.ba-contact__form--input{
	padding: 16px 14px;
	border: 0 solid;
	background: #78dad9;
	margin-bottom: 15px;
	color: #fff;
	}
	::-webkit-input-placeholder {color: #fff;}
	::-moz-placeholder          {color: #fff;}/* Firefox 19+ */
	::-moz-placeholder           {color: #fff;}/* Firefox 18- */
	:-ms-input-placeholder      {color: #fff;}
.heighttext{
	resize: both;
	height: 400px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #70bfff;

}
textarea {

}
/*-----Header-------*/
.ba-header{
	background: #fff url('../img/bgheader.jpg') no-repeat 50% / cover;
	padding: 50px 0 70px;
}
.ba-logo-nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 228px;
}
.ba-nav__list{
	display: flex;
	list-style: none;
	margin: 12px 0 0 0;
}
.ba-nav__link{
	padding: 0 0 0 38px;
}
.ba-nav__link a{
	text-decoration: none;
	color:  #262626;
	padding: 7px 0;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.ba-intro{
	max-width: 400px;
	margin-bottom: 307px;
}
.ba-nav__link a:hover{
	border-top: 3px solid #FF6033;
}
.ba-intro__tittle{
	margin:0;
}
.ba-intro__paragraph{
	margin:0 0 40px;
}
.ba-intro__link{
font-size: 20px;
text-decoration: none;
color: #fff;
background-color: #FF6033;
border: 1px solid transparent;
padding: 15px 24px;
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-intro__link:hover{
color: #FF6033;
background-color: #FFF;
border: 1px solid #FF6033;
}
.ba-scroll{
	    display: block;
	    width: 23px;
	    height: 37px;
	    margin: 0 auto;

}
.ba-about{
	background: #00b0b0;
	padding: 70px 0 0;
}
.ba-about__column{
	display: flex;
}
.ba-about__img{
	display: block;
	position: relative;
	left: -50px;
	top: -35px;
	max-width: 700px;
	margin-right: 10px;
}
.ba-about__info{
	color: #FFF;
	padding: 0 10px 0;
}
.ba-about__tittle{
	padding-top: 104px;
	line-height: .93;

}
.ba-about__paragraph{
	margin-bottom: -6px;
}
.ba-services{
	background: #70bfff;
	padding: 100px 0 128px 0;
}
.ba-row{
	display: flex;
	justify-content: flex-end;
}
.ba-services__link{
	display: flex;
	align-items: center;
	max-width: 410px;
	background: #FFF;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-services__link + .ba-services__link{
	margin-bottom: 20px;
}
.ba-services__tittle-h4{
	color: #262626;
	text-align: center;
	max-width: 310px;
	padding: 25px;
	flex-grow: 1;
}
.ba-services__icon{
	display: block;
	max-width: 100px;
	padding: 27px 26px 29px;
	border-left: 1px solid #262626;
}
.ba-services__img{
	display: block;
	min-width: 462px;
	margin-top: -12px;
}
.ba-services__tittle-h2{
	position: absolute;
	color: #fff;
	bottom: 225px;
	right: -5px;
	min-width: 550px;
	z-index: 1;
}
.ba-services__column{
	padding-top: 66px;
	margin-right: 210px;
}
.ba-services__column-img{
	width: 38.5%;
	position: relative;
}
.ba-gallery{
	background: #ffe92f;
	text-align: center;
	padding: 63px 0 118px;
}
.ba-gallery__paragraph{
	max-width: 585px;
	margin: -15px auto 42px auto;
}
.ba-col-4__img{
	margin-bottom: 30px;
}
.ba-gallery img{
	display: block;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.ba-gallery img:hover{
	-webkit-transform: scale(1.05,1.05);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1.1,1.1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.ba-gallery__link{
	display: block;
	margin: 0 auto 0 auto;
	max-width: 203px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	background: #5585a2;
	padding: 12px;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-gallery__link:hover{
	color: #5585a2;
	background: #fff;
	border: 1px solid #5585a2;
}
.ba-row-2 {
	margin-bottom: 50px;
}
.ba-subscribe{
	background: #fff url(../img/bg-subscribe.jpg) 50% / cover;
	padding: 127px 0 160px;
}
.ba-subscribe__form{
	max-width: 770px;
}
.ba-subscribe__tittle{
	margin-bottom: 10px;
}
.ba-subscribe__form p{
	max-width: 550px;
	margin-top: 0;
	margin-bottom: 27px;
}
.ba-form__input-button{
	display: flex;
}
.ba-form__input-button input{
	flex-grow: 1;
	padding: 16px 14px;
	border: 1px solid;
	margin-right: 30px;
}
.ba-blog{
	background: linear-gradient(90deg, rgba(176,124,247,1) 0%, rgba(176,124,247,1) 100%);
	color: #fff;
	padding: 86px 0 118px;
}
.ba-post{
	position: relative;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	min-width: 250px;
}
.ba-post__date {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: .7;
    text-align: center;
    padding-top: 5px;
}
.ba-post__date span{
	font-size: 20px;
}
.ba-post{
	display: flex;
	flex-direction: column;
	position: relative;

}
.ba-post__link{
	display: block;
	text-decoration:none;
}
.ba-post__link img {
	display: block;
	width: 100%;
}
.ba-post__body {
	display: flex;
	flex-direction: column;
	background: #FFF;
	padding: 25px 19px 55px;
}
.ba-post__body--abs{
	justify-content: flex-end;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom, transparent, #000);
	color: #FFF;
}
.ba-post_autor{
	color:#fff;
	position: absolute;
	top: 87%;
	left: 19px;
	z-index: 2;
	font-size: 13px;
}
.ba-post_autor a{
	color:#fff;
	text-decoration: none;
}
.ba-post_autor a:hover{
	border-bottom: 1px solid;
}
.ba-blog_paragraph{
	margin-right: auto;
	margin-left: auto;
	max-width: 570px;
	line-height: 1.52;
	margin-bottom: 43px;
	text-align: center;
}
.ba-blog__tittle{
	line-height: 1.1;
	text-align: center;
	margin-bottom: 27px;
}
.ba-gallery__link--blog{
	display: block;
	text-align: center;
	background: #f72b3b;
}
.ba-gallery__link--blog:hover{
	border-color: #f72b3b;
	color: #f72b3b;
}
.ba-row__blog{
	margin-bottom: 50px;
}
.ba-post__link:hover{
	box-shadow: 0 0 10px 10px rgba(245, 239, 240, 0.3);
	border-radius: 5px;
}
.ba-contact{
	background: #fff url(../img/bg-contact.jpg) no-repeat 50% /cover;
	padding-bottom: 47px;
}
.ba-section__tittle{
	text-align: center;
	padding-top: 62px;

}
.ba-contact__info{
	font-size: 20px;
}
.ba-contact__info--bold{
	font-size: 17px;
	font-weight: 700;
}
.ba-contact_link{
	text-decoration: none;
	color: #262626;
}
.ba-contact__form{
	display: flex;
	flex-direction: column;
	padding-right: 70px;
}
.ba-contact__info{
	padding-left: 70px;
}
.ba-footer{
	background: #262626;
}
.ba-footer__row{
	display:flex;
	justify-content: space-between;
	color: #b9b9b9;
	font-size: 16px;
	padding: 15px 0;
	align-items: center;
}
.ba-developer__link{
	text-decoration: none;
	font-weight: 700;
	color: #f12b55;
}
.ba-developer__link:hover{
	color: #fff;
}
